cat << 'EOF' > .env
BOT_TOKEN=8721407182:AAGcQxglGlyxVBVJvz-WOA42o7KUo851KTo
ADMIN_ID=5055702329
STORE_NAME=متجر الاشتراكات الرقمية
PAYMENT_INFO=للاشتراك، يرجى إرسال المبلغ عبر محفظة USDT (TRC20):
Txxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CHANNEL_ID=-100XXXXXXXXXX
CHANNEL_LINK=https://t.me/YourChannelLink
SUPPORT_USER=@AbuSakhr
EOF
