BOT_TOKEN=8721407182:AAGcQxglGlyxVBVJvz-WOA42o7KUo851KTo
ADMIN_ID=5055702329
STORE_NAME=متجر الاشتراكات الرقمية
PAYMENT_INFO=للاشتراك، يرجى إرسال المبلغ على محفظة USDT التالية: Txxxxxxxxxxxxxxxxx
SUPPORT_USER=@YourSupportUsername
CHANNEL_USERNAME=@YourStoreChannel
